*.json diff=json
*.png diff=exif
*.jpg diff=exif

# line handler
* text=auto
*.sh text eol=lf
*.bat text eol=crlf

# binary files
*.jpg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary